/7th sem
/ABViewer 14
/acad.err
/admitcard 4th sem.pdf
/Adobe
/Arduino
/Assignment 4 PROGRAM.docx
/Avalanche Studios
/Battlefield 2042
/BlackHole
/Book1.xlsx
/Call of Duty
/CATIAComposer
/ClownfishVoiceChanger.ini
/Custom Office Templates
/Default.rdp
/Dell
/desktop.ini
/dfdfd.pdf
/Disch survey on 04.04.23.xlsx
/Doc1.docx
/Downloads
/Drawbot_image_to_gcode_v2
/Drawing2.dwl
/Drawing2.dwl2
/Drawing4.dwl
/Drawing4.dwl2
/Drawing5.dwl
/Drawing5.dwl2
/Drawing6.dwl
/Drawing6.dwl2
/DRLSim
/EasyEDA-Pro
/Eek
/ETS2MP
/Euro Truck Simulator 2
/Fritzing
/Fusion 360
/Gameloft
/GROUP 10(ARITRA SIR) DSM[1].pptx
/Inventor Server for AutoCAD
/KiCad
/LabVIEW Data
/Machine.pdf
/Magazine
/Marvel's Spider-Man Remastered
/MATLAB
/Mookul Paul (11501620012).pdf
/Mookul Paul Resume.docx
/Mookul Paul Resume.pdf
/My Games
/National Instruments
/New folder
/New Project.pdsprj.DESKTOP-MIKROPE.mooku.workspace
/Office Work
/OneNote Notebooks
/Player
/plot.log
/Polyspace_Workspace
/PowerToys
/Prints.pdf
/Problem Statement.docx
/Processing
/processing-3.5.4
/PROGRAM.docx
/Project Backups
/Prototype 3 description.docx
/Python codes
/QA2.docx
/Rockstar Games
/School connect cost.xlsx
/Screencast-O-Matic
/Shadow of the Tomb Raider
/SOLIDWORKS Downloads
/Sound recordings
/Square Enix
/SW Log Files
/The Crew 2
/Thermal Term paper.docx
/TrailMakers
/Virtual Machines
/Visual Studio programs
/WB Games
/Whatsapp
/~$PRP.xlsx